<h1>Diary Index</h1>
<table class="table">
	<thead>
		<tr>
			<th>Title</th>
			<th>Context</th>
		</tr>
	</thead>
	<tbody>
		<% @diaries.each do |diary| %>
			<tr>
				<td><%= diary.title %></td>
				<td><%= diary.context %></td>
				<td><%= link_to "Edit", diaries_path(diary_id: diary), class: "btn btn-primary" %></td>
				<td><%= link_to "Delete", diary_path(diary), method: :delete, class: "btn btn-primary" %></td>
			</tr>
		<% end %>
		<tr>
			<%= form_for @diary do |f| %>
				<td><%= f.text_field :title, class: "form-control" %></td>
				<td><%= f.text_field :context, class: "form-control" %></td>
				<td><%= f.submit nil, class: "btn btn-primary" %></td>
			<% end %>
		</tr>
	</tbody>
</table>
<%= link_to "Home", root_path, class: "btn btn-primary" %>