<!DOCTYPE html>
<html>
  <head>
    <title>T1</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div style="float:right">
    <% if current_user %>
      <%= current_user.email %>
    <% end %>
    <% if user_signed_in? %>
      <%= link_to "logout", destroy_user_session_path, method: :delete, class: "btn btn-primary" %>
    <% else %>
      <%= link_to "login", new_user_session_path, class: "btn btn-primary" %>
    <% end %>
  </div>

  <% if notice %>
  	<div class="alert alert-success">
  		<strong><%= notice %></strong>
  	</div>
  <% end %>
  
  <% if alert %>
  	<div class="alert alert-success">
  		<strong><%= alert %></strong>
  	</div>
  <% end %>

    <%= yield %>
  </body>
</html>
