<!DOCTYPE html>
<html>
  <head>
    <title>T1</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if notice %>
  	<div class="alert alert-success">
  		<strong><%= notice %></strong>
  	</div>
  <% end %>
  
  <% if alert %>
  	<div class="alert alert-success">
  		<strong><%= alert %></strong>
  	</div>
  <% end %>

    <%= yield %>
  </body>
</html>
